        * {
            font-family: 'Baloo 2', cursive;
            font-family: 'Ubuntu', sans-serif;
            color: white;
        }

        body {
            margin: 0px;
            padding: 0px;
            background: url('bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .left {
            display: inline-block;
            position: absolute;
            left: 60px;
            top: 20px;

        }

        .mid {
            display: block;
            width: 50%;
            margin: 35px auto;
        }

        .right {
            position: absolute;
            right: 34px;
            top: 43px;
            display: inline-block;
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
        }

        .navbar li a {
            color: white;
            text-decoration: none;
            font-size: 25px;
            padding: 34px 23px;
        }

        .navbar li a:hover{
            color: grey;
            text-decoration: none;
            font-size: 30px;
        }

        .left img {
            width: 60px;
            filter: invert(100%);
            margin: 5px;
        }

        .left div {
            text-align: center;
            font-size: 18px;
            line-height: 6px;
        }

        .btn {
            font-family: 'Baloo 2', cursive;
            font-family: 'Ubuntu', sans-serif;
            margin: 0px 9px;
            background-color: black;
            color: white;
            padding: 4px 14px;
            border: 2px solid grey;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: rgb(31, 30, 30);
        }

        .container {
            border: 2px solid white;
            margin: 106px 80px;
            padding: 75px;
            width: 45%;
            border-radius: 28px;
        }

        .form-group input {
            text-align: center;
            display: block;
            width: 508px;
            padding: 1px;
            border: 2px solid black;
            margin: 11px auto;
            font-size: 25px;
            border-radius: 8px;
        }

        .container h1 {
            text-align: center;
        }

        .container button {
            display: block;
            width: 74%;
            margin: 20px auto;

        }
